{
  "env": {
    "testing": {
      "presets": ["env", "babel-preset-power-assert"]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread", "syntax-dynamic-import"]
}
