@import "~bulma/sass/utilities/initial-variables";

// Add your own colors, set new fonts, override Bulma styles
// See also: http://bulma.io/documentation/overview/customize/

@import "~bulma";

.hero.is-primary
  a.nav-item
    color: rgba(255, 255, 255, 1)

.image
  img
    border-radius: 15px

.pagination
  padding-top: 30px

.github
  margin-left: 50px

@media screen and (max-width: 1023px)
  .navbar-menu
    background-color: initial
    box-shadow: initial
    padding: initial
